.logo {
    height: 64px;
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: 900;
    user-select: none;
}

.first {
    color: rgb(233, 79, 50);
}

.listButtonItem {
    background-color: inherit !important;
}

.layout {
    background: #001529;
}


.layout > main {
    background-color: white;
    border-radius: 12px 0 0 0;
    margin: 0;
}